@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common

@model X.PagedList.IPagedList<Company>

@{
    ViewData["Title"] = "Предприятия";
}

<h1>Предприятия</h1>

<p>
    <a asp-action="Create">Добавить предприятие</a>
</p>
@using (Html.BeginForm())
{
    <p>Введите название продукции: </p>
    @Html.TextBox("searchKindOfActivity", ViewBag.CurrentFilter as string)
    <p><input type="submit" value="Отправить" /></p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-companySort="@ViewBag.Name">
                    Название предприятия
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-companySort="@ViewBag.FIO">
                    ФИО главы
                </a>
            </th>
            <th>
                Тип активности
            </th>
            <th>
                Тип собственности
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KindOfActivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOwnership)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompanyId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.CompanyId">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.CompanyId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, companySort = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter }), new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
})
