@model CourseWorkCompany.Models.Product

@{
    ViewData["Title"] = "Страница удаления";
}

<h1>Удалить</h1>

<h3>Вы точно хотите удалить это?</h3>
<div>
    <h4>Продукт</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Characteristic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Characteristic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionType.ProductionTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeasurementUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeasurementUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPhotoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPhotoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductFileNamePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductFileNamePath)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="ProductListing">Назад</a>
    </form>
</div>
